body {
  font-family: 'Open Sans', sans-serif;

  text-align: center;
  margin: 0;
}

#hero {
   
  width: 679px;
   margin: -32px auto 72px;
}

#hero img {
  margin-bottom: -32px;
}

h1  {
  font-family: 'Inter', sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;

  margin-bottom: 32px;

}
h1 span {
  font-weight: bold;
}



a span {
  font-weight: bold;
}
a {
  color: #000000;
}

#footer a + a{
  margin-left: 100px;
}

.line {
   width: 568px;
   height: 0px;

   margin: 0 auto 8px;

   border: 1px solid #eceff2;

}

